{@nl.vea.quia.users.model.Car[] cars}
{@java.time.LocalDate startDate}
{@java.time.LocalDate endDate}

<div id="carList">
    <table>
        <thead>
            <tr>
                <th>Car ID</th>
                <th>Licence plate nr</th>
                <th>Manufacturer</th>
                <th>Model</th>
                <th>Reservation</th>
            </tr>
        </thead>
        {#for car in cars}
        <tr>
            <td>{car.getId()}</td>
            <td>{car.getLicensePlateNumber()}</td>
            <td>{car.getManufacturer()}</td>
            <td>{car.getModel()}</td>
            <td>
                <form hx-target="#reservations" hx-post="/reserve">
                    <input type="hidden" name="endDate" value="{endDate}">
                    <input type="hidden" name="startDate" value="{startDate}">
                    <input type="hidden" name="carId" value="{car.getId()}">
                    <input type="submit" value="Reserve">
                </form>
            </td>
        </tr>
        {/for}
    </table>
</div>