<!DOCTYPE html>

{@java.lang.String name}
{@java.time.LocalDate startDate}
{@java.time.LocalDate endDate}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Reservations</title>
        <link rel="stylesheet" href="http://localhost:8080/simple.css">
        <!--<script src="https://unpkg.com/htmx.org@2.0.3"></script>-->
        <script src="htmx.min.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <img id="logo" src="http://localhost:8080/images/VESkader_aa_transparant_bg.png">
            <header id="right">
                <h1>Reservations</h1>
                <h5>For logged-in user: {name}</h5>
                <a href="/logout">Log out</a>
            </header>
        </div>
        <div>
            <h2>List of reservations</h2>
            <div id="reservations" hx-get="/get" hx-trigger="load">
                <!-- To be replaced by the result of calling /get -->
            </div>
        </div>
        <div>
            <h2>Available cars to rent</h2>
            <form hx-get="/available" hx-target="#availability">
                <p>Start date:
                    <input id="startDateInput" type="date" name="startDate" value="{startDate}"/>
                </p>
                <p>End date:
                    <input id="endDateInput" type="date" name="endDate" value="{endDate}"/>
                </p>
                <p>
                    <input type="submit" value="Update list"/>
                </p>
            </form>
        </div>
        <div id="availability" hx-get="/available" hx-trigger="load, update-available-cars-list from:body"
        hx-include="[id='startDateInput'],[id='endDateInput']">
            <!-- To be replaced by the result of calling /available-->

        </div>
    </body>
</html>