{@nl.vea.quia.users.model.Reservation[] reservations}
<div id="listofreservations">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Car ID</th>
            <th>Start day</th>
            <th>End day</th>
        </tr>
        </thead>
        {#for reservation in reservations}
        <tr>
            <td>{reservation.getId()}</td>
            <td>{reservation.getCarId()}</td>
            <td>{reservation.getStartDay()}</td>
            <td>{reservation.getEndDay()}</td>
        </tr>
        {/for}
    </table>
</div>